@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Register";
}

@section _layout_navigation_slider{
    @RenderPage("~/Views/Shared/_Layout_Navigation_Slider.cshtml")
}
<link type="text/css" rel="stylesheet" href="~/Content/css/register.css" />

<div class="register_index">
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h2 class="title">Login</h2>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                @using (Html.BeginForm("login", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="cols-sm-2 control-label" >Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input class="form-control text-box single-line" name="username" placeholder="Enter your Username" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="cols-sm-2 control-label" >Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input class="form-control text-box single-line" name="password" placeholder="Enter your Password" type="password">
                            </div>
                        </div>
                    </div>


                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                    </div>

                    <div class="login-register">
                        <a href="@Url.Action("register", "User")" style="font-size: 1.5em">Register</a>
                    </div>

                    <div class="form-group" style="font-size:1.5em;">
                        <div>
                            <span class="label label-success">@ViewBag.SuccessMessage</span>
                        </div>
                    </div>

                    <div class="form-group" style="font-size:1.5em;">
                        <div>
                            <span class="label label-danger">@ViewBag.DuplicateMessage</span>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>
