
@{
    ViewBag.Title = "myItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var itemList = Json.Decode(Json.Encode(ViewBag.itemList));

}

<style>
    .content {
        min-height: 800px;
    }

    .card img {
        width: 150px;
        height: 150px;
        margin: auto;
        margin-top: 5px;
    }

    .card {
        width: 200px;
        height: 520px;
        margin-bottom: 10px;
        border-radius: 5px 5px 0 0;
    }

    .container .title {
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }

    .let-hide {
        display: none;
    }

    .list-items {
        margin-top: 100px;
    }
    .cart-page {
        width: 100%;
        margin: 20px 0;
        font-weight: bold;
        color: #2f2f2f;
    }

        .cart-page th {
            transition: .3s;
            -webkit-transition: .3s
        }

            .cart-page th:hover {
                background: rgba(45, 187, 155, 0.5);
            }

        .cart-page, .cart-page th, .cart-page td {
            border: 1px solid #2dbb9b;
            border-collapse: collapse;
            text-align: center;
            padding: 10px;
        }

            .cart-page .quantity {
                vertical-align: middle;
                background: #2dbb9b;
                color: #fff;
                font-weight: bold;
                width: 30px;
                height: 20px;
                display: inline-block;
                border-radius: 15px;
                margin: 0 10px;
            }

            .cart-page .remove {
                font-size: .7em;
                text-transform: uppercase;
                color: #ff6a00;
                border: 1px solid #ff6a00;
                padding: 3.5px 10px;
                transition: .3s;
                -webkit-transition: .3s;
                border-radius: 15px;
            }

                .cart-page .remove:hover {
                    background: #ff6a00;
                    color: #fff;
                }

</style>
<div class="container content">
    <h1 class="title">Checkout My Post</h1>
    <form action="@Url.Action("myItems", "ItemManagement")" method="get" id="form-select" style="font-size:14px">
        <select name="status" id="select-status">
            @{ 
                String[] a = { "Waiting for approval", "Approved", "Rejected","Sold Out"};
                int status = ViewBag.status;
                for (int i = 0; i < a.Length; i++)
                {
                    if (status==i)
                    {
                        <option value=@i selected>@a[i]</option>
                    }
                    else
                    {
                        <option value=@i>@a[i]</option>
                    }

                }
             }            
        </select>
    </form>
    <div class="row list-items">

        @foreach (var item in itemList)
        {
            <div class="col-md-3 item-@item.id" >
                <div class="card item-box" style="width: 18rem;">
                    <img class="card-img-top" src="~/Content/img/items/index_img/@item.index_image" alt="Card image cap">
                    <div class="card-body" style="margin-top:10px; height: 200px">
                        <span class="let-hide item-id">@item.id</span>
                        <h5 class="card-title">@item.item_name</h5>
                        <p class="card-text">
                            @{ 

                                int xLength = 0;
                                if (item.description.Length < 500)
                                {
                                    xLength = (int)(item.description.Length * 0.1);
                                }
                                else
                                {
                                    xLength = (int)(item.description.Length * 0.01);
                                }
                                var text = item.description.Substring(0, xLength);
                                }
                            @text  ...
                        </p>
                        <p class="card-text"><b>Phone:</b> @item.phone_contact</p>
                        <p class="card-text"><b>Quantity:</b> @item.quantity</p>
                        <p class="card-text"><b>Price:</b> @item.price</p>
                    </div>

                    <div class="cart-page" style="margin-top: 30px; border:groove">
                            <form action="~/item/ChangeStatusToSoldOut/@item.id">
                                <button class="remove" type="submit" style="margin-bottom: 5px;">Sold Out</button>
                            </form>

                        @*<a href="@Url.Action("edit", "ItemManagement",new {id = item.id})"><i class="fa fa-cog"></i> Post Item </a>*@
                        <a href="@Url.Action("edit", "ItemManagement",new {id = item.id})" class="btn primary-btn" style="width:100px"> Edit</a>
                        @*<form action="~/ItemManagement/edit/@item.id">
                            <button class="active" type="submit">Edit</button>
                        </form>*@

                    </div>
                </div>
            </div>
        }
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<script>
    $(document).ready(function () {
        $('.btn-approve').on('click', function () {
            let item_id = $(this).parents('.card-body').find('.item-id').html();
            $.ajax({
                url: '/manageitem/approve/',
                type: "POST",
                data: { id: item_id },
                dataType: "json",
            }).done(function (response) {
                let status = response.Message;
                let name = 'item-' + item_id;
                if (status == 'success') {
                    //hide
                    $('.'+name).hide('drop');
                }
                console.log(name);
                });
        });
        $('.btn-reject').on('click', function () {
            let item_id = $(this).parents('.card-body').find('.item-id').html();
            $.ajax({
                url: '/manageitem/reject/',
                type: "POST",
                data: { id: item_id },
                dataType: "json",
            }).done(function (response) {
                let status = response.Message;
                let name = 'item-' + item_id;
                if (status == 'success') {
                    //hide
                    $('.' + name).hide('drop');
                }
                console.log(name);
            });
        });
        $('#select-status').on('change', function () {
            $('#form-select').submit();
        });
    });
</script>

