@model IEnumerable<TradingVLU.Models.comment>
@{
    ViewBag.Title = "detail";
    var detailItem = ViewBag.DetailItem as TradingVLU.Models.item;
    //var detailCommet = ViewBag.cmt as TradingVLU.Models.Comment;
}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/">Home</a></li>
            <li><a href="~/item">Products</a></li>
            <li class="active">@detailItem.item_name</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->
<!-- section -->

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->
            <div class="product product-details clearfix">
                <div class="col-md-6">
                    <div id="product-main-view">
                        @{
                            if (!detailItem.index_image.IsEmpty())
                            {
                                <div class="product-view">
                                    <img src="~/Content/img/items/index_img/@detailItem.index_image" alt="detail_image">
                                </div>
                            }
                            if (!detailItem.detail_image1.IsEmpty())
                            {
                                <div class="product-view">
                                    <img src="~/Content/img/items/detail_img/@detailItem.detail_image1" alt="detail_image">
                                </div>
                            }
                            if (!detailItem.detail_image2.IsEmpty())
                            {
                                <div class="product-view">
                                    <img src="~/Content/img/items/detail_img/@detailItem.detail_image2" alt="detail_image">
                                </div>
                            }
                            if (!detailItem.detail_image3.IsEmpty())
                            {
                                <div class="product-view">
                                    <img src="~/Content/img/items/detail_img/@detailItem.detail_image3" alt="detail_image">
                                </div>
                            }
                            if (!detailItem.detail_image4.IsEmpty())
                            {
                                <div class="product-view">
                                    <img src="~/Content/img/items/detail_img/@detailItem.detail_image4" alt="detail_image">
                                </div>
                            }
                            if (!detailItem.detail_image5.IsEmpty())
                            {
                                <div class="product-view">
                                    <img src="~/Content/img/items/detail_img/@detailItem.detail_image5" alt="detail_image">
                                </div>
                            }

                        }

                    </div>
                    <div id="product-view">
                        <div class="product-view">
                            <img src="~/Content/img/items/index_img/@detailItem.index_image" alt="detail_image">
                        </div>
                        <div class="product-view">
                            <img src="~/Content/img/items/detail_img/@detailItem.detail_image1" alt="detail_image">
                        </div>
                        <div class="product-view">
                            <img src="~/Content/img/items/detail_img/@detailItem.detail_image2" alt="detail_image">
                        </div>
                        <div class="product-view">
                            <img src="~/Content/img/items/detail_img/@detailItem.detail_image3" alt="detail_image">
                        </div>
                        <div class="product-view">
                            <img src="~/Content/img/items/detail_img/@detailItem.detail_image4" alt="detail_image">
                        </div>
                        <div class="product-view">
                            <img src="~/Content/img/items/detail_img/@detailItem.detail_image5" alt="detail_image">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-body">
                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-20%</span>
                        </div>
                        <h2 class="product-name">@detailItem.item_name</h2>
                        @{
                            double new_price = System.Convert.ToDouble(detailItem.price);
                            double price = Math.Round(new_price, 2);
                            string price_str = string.Format("{0:N2}", price);
                            new_price = new_price / 0.8;
                            double old_price = Math.Round(new_price, 2);
                            string old_price_str = string.Format("{0:N2}", old_price);
                        }
                        <h3 class="product-price">$@price_str <del class="product-old-price">$@old_price_str</del></h3>
                        <div>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                            </div>
                            <a href="#">3 Review(s) / Add Review</a>
                        </div>
                        <p><strong>Availability:</strong> @detailItem.status </p>
                        <p><strong>Seller:</strong> @detailItem.create_by </p>
                        <p><strong>Phone contact: @detailItem.phone_contact</strong></p>
                        <p><strong>Description: @detailItem.description </strong> </p>

                            @*Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.*@
                       
                        <div class="product-options">
                            @*<ul class="size-option">
                                <li><span class="text-uppercase">Size:</span></li>
                                <li class="active"><a href="#">S</a></li>
                                <li><a href="#">XL</a></li>
                                <li><a href="#">SL</a></li>
                            </ul>*@
                            @*<ul class="color-option">
                                <li><span class="text-uppercase">Color:</span></li>
                                <li class="active"><a href="#" style="background-color:#475984;"></a></li>
                                <li><a href="#" style="background-color:#8A2454;"></a></li>
                                <li><a href="#" style="background-color:#BF6989;"></a></li>
                                <li><a href="#" style="background-color:#9A54D8;"></a></li>
                            </ul>*@
                        </div>

                        <div class="product-btns">
                            <div class="qty-input">
                                <span class="text-uppercase">QTY: </span>
                                <input class="input" type="number">
                            </div>

                            <form action="~/item/AddToCart/@detailItem.id">
                                <button class="primary-btn add-to-cart" type="submit"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                            </form>

                            @*<div class="add-to-cart">
                                    @Html.ActionLink("add to cart", "AddToCart", "Home", new { id = detailItem.id }, null)
                                </div>*@

                            @*<div class="pull-right">
                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-tab">
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                            @*<li><a data-toggle="tab" href="#tab1">Details</a></li>*@
                            <li><a data-toggle="tab" href="#tab2">Reviews (@ViewBag.Count)</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <p>
                                    @Html.Raw(detailItem.description)
                                </p>
                            </div>
                            <div id="tab2" class="tab-pane fade in">


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="product-reviews">
                                            @foreach (var item in Model)
                                            {
                                                if (item.id_item == detailItem.id)
                                                {
                                                    <div class="single-review">
                                                        <div class="review-heading">
                                                            <div> <i class="fa fa-user-o"></i> @item.name_comment </div>
                                                        </div>
                                                        <div class="review-body">
                                                            <p> @item.comment_txt</p>
                                                        </div>
                                                    </div>
                                                }

                                            }
                                            @*<ul class="reviews-pages">
                                                    <li class="active">1</li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                                </ul>*@
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="text-uppercase">Write Your Review</h4>
                                        <form class="review-form" action="~/Item/Comments" method="post">
                                            <div class="form-group">
                                                <input type="text" value="@detailItem.id" hidden name="masp" />
                                                <textarea class="input" placeholder="Your review" name="cmt"></textarea>
                                            </div>
                                            @*<div class="form-group">
                                                    <div class="input-rating">
                                                        <strong class="text-uppercase">Your Rating: </strong>
                                                        <div class="stars">
                                                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                                                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                                                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                                                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                                                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <button class="primary-btn">Submit</button>
                                        </form>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Product Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
<!-- section -->
